<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- fontawesome = logos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- maxcdn = bootstrap framework -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- form.css = login y password form -->
  <link rel="stylesheet" href="../css/form.css">
  <!-- googleapis = font(s) -->
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">

  <title>Round Table</title>
</head>
<body>
{{!-- header --}}
<header>
    <h2><a class="no-decor" href="https://www.dndbeyond.com"><i class="logo-fable"></i>
        D&D Round Table</a></h2>
    <nav>
      <ul>
        <li>
          <a class="no-decor" href="/group">Groups</a>
        </li>
        <li>
          <a class="no-decor" href="/campaign">Campaign</a>
        </li>
        <li>
          <a class="no-decor" href="/character">Characters</a>
        </li>
        <li>
          <a class="no-decor" href="/login">Login</a>
        </li>
      </ul>
    </nav>
  </header>
<br /> 
<br/> <br /> 
<br/> 


<main>
      {{{body}}}
</main>
  


</body>
</html>