


 <section id="user-infos" class="container">
    <h1>Campaign</h1>
    <div class="user-info">
      <h3>Current</h3>
      <h5>Current Name</h5>
      <div class="announce">
        <h6>Announcements</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur tempora nisi quibusdam doloribus
          adipisci cumque quidem perferendis. Iusto, natus!</p>
          

      </div>
      
      <ul>
        <li>
          <h3>Players:</h3>
        </li>
        <li><a href="#" class="btn btn-reverse">Player1</a></li>
        <li><a href="#" class="btn btn-reverse">Player2</a></li>
        <li><a href="#" class="btn btn-reverse">Player3</a></li>
        <li><a href="#" class="btn btn-reverse">Player4</a></li>
        
      </ul>
      <div class="time">
        <small>Meetings: <span>Day, Date, Month, Time</span></small>
      </div>
    </div>




    </div>
  </section>
