




 <section id="user-infos" class="container">
    <h1>Characters</h1>
    <div class="user-info">
      <h3>Character Name</h3>
      <h5>Current Campaign</h5>
      <li><a href="#" class="btn btn-reverse">Member1</a></li>
      <p>Description: Vero aspernatur tempora nisi quibusdam doloribus
        adipisci cumque.</p>
      <ul>
        <li>
          <h4>Attributes:</h4>
        </li>
        <li><a href="#" class="btn btn-reverse">History</a></li>
        <li><a href="#" class="btn btn-reverse">Class</a></li>
        <li><a href="#" class="btn btn-reverse">Race</a></li>
        <li><a href="#" class="btn btn-reverse">Link</a></li>
        <li><a href="#" class="btn btn-reverse">Member4</a></li>
        
      </ul>
      <div class="time">
        <small>Meetings: <span>Day, Date, Month, Time</span></small>
      </div>
   


    </div>
  </section>