<section id="search" class="search-wrap">
  <h1>Round Table</h1>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

  <div id="id01" class="modal">

    <form class="modal-content animate login-form">

      <br />
      <br />
      <div class="container" id="form-font-properties">

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="uname">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw">
        <br />
        <br />

        <button type="submit">Enter Realm</button>

      </div>
      <br />
      <br />
    </form>
  </div>
  <h6 class="sign-up"><a href="/new-user">Sign Up</a></h6>
</section>

<script src="../js/style-form.js"></script>
<script src="/js/login.js"></script>