<form>
    <h1>New Group</h1>
    <div class="group-form">
        <label for="group-name">Group Name:</label>
        <input type="text" class="group-name" placeholder="Enter Group Name">
    </div>
    <br/>
    <div class="group-form">
        <label for="group-campaign">Current Campaign:</label>
        <input type="text" class="group-campaign" placeholder="Lost Mine of Phandelver">
    </div>
    <br/>
    <div class="group-form">
        <label for="group-meetings">Meeting Time:</label>
        <input type="text" class="group-meetings" placeholder="Tuesdays @ 6:30PM EST">
    </div>
    <br/>
    <button type="submit" class="group-form btn btn-primary">Submit</button>
</form>

<script src="/js/new-group.js"></script>