<form>
    <h1>Create New User</h1>
    <div class="user-form">
        <label for="user-name">Username:</label>
        <input type="text" class="user-name" placeholder="Enter Username">
    </div>
    <br/>
    <div class="user-form">
        <label for="user-email">Email:</label>
        <input type="text" class="user-email" placeholder="yourname@email.com">
    </div>
    <br/>
    <div class="user-form">
        <label for="user-password">Password:</label>
        <input type="password" class="user-password">
        <small>Minimum 8 characters.</small>
    </div>
    <br/>
    <button type="submit" class="user-form btn btn-primary">Submit</button>
</form>

<script src="/js/new-user.js"></script>