@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --primary-color: #ce0e00;
  --primary-hover-color: #3f0303;
  --bg-color: rgb(80, 41, 9);
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  color: #333;
  background-image: url(/public/images/png/cherryRedDragon.png);
  background: #000000;
}

body .page-title {
  color: white;
  margin-left: 30px;
  margin-top: 15px;
}

header { 
  margin-bottom: 25rem;
}

h1 {
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
  font-size: xx-large;

}

ul {
  list-style: none;
  padding: 0;
}

a.no-decor {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

/* Login Button Spacing */
/*header nav li:last-child {
  margin-left: -5px;
}*/

header.inner {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

/* Home Search */
.search-wrap {
  background: url('./') no-repeat center center fixed / cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

.search-form input[type='submit'] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
  
}

.search-form input[type='submit']:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
  opacity: .75;
}

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
  
}

.search-form i {
  color: #333;
  opacity: .75;
}

#d-20 {
  max-height: 100px;
}

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type='search'] {
  flex-basis: 600px;
  opacity: .75;
}

/* Gigs */
.user-info {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 25px;
}

.user-info ul {
  list-style: none;
  display: flex;
}

.user-info li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.user-info .time span {
  color: var(--primary-color);
}

.group-info {
  background: var(--bg-color);
  border:rgba(10, 0, 29, 0.7);
  margin: 50px;
  border-radius: 25px;
  color: white;
}

.group-info .information {
  padding: 25px;
}

.group-info .dmInfo {
  text-align: right;
}

.group-info #title {
  color: var(--primary-color);
}

.group-info #campaign {
  color: rgb(155, 155, 107);
}

.group-info #announcement {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #4e4e4e;
  border-radius: 5px;
  border: black;
  border-width: 5px;
  margin: 5px;
}

.group-info #announcement p {
  margin: 15px;
  margin-top: 5px;
  padding:10px;
}

.group-info .information .card {
  background: #3f0303;
  margin:8px;
  padding: 15px;
  border: 5px, #000000;
}

.group-info .group-info-title {
  display: flex;
  align-content: bottom;
}


.group-info #group-id {
  color: gray;
  margin: 15px;
}

/* Form */
.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
} */ 

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.group-title {
  display: flex;
}

.group-title add-group {
  text-align: right;
  margin-right: 20px;
}

.group-title button {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.group-form {
  color: white;
  display: block;
  width: 500px;
  align-content: center;
  margin-left: 33%;
}

.user-form {
  color: white;
  display: block;
  width: 500px;
  align-content: center;
  margin-left: 33%;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

.sign-up {
  margin-top: 14%;
}

/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  } */

  input[type='search'] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .multi-use ul {
    flex-direction: column;
  }

  .user-info .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
} 

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type='search'] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}